<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Matching product</title>
    <style>
        .table1  {
            border: 1px solid black;
            border-spacing: 0;
        }
        .table1 th {
            border: 1px solid black;
        }
        .table1 td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table class="table1">
    <thead>
    <tr>
        <th>title</th>
        <th>brand</th>
        <th>category</th>
        <th>colorway</th>
        <th>styleId</th>
        <th>gender</th>
        <th>releaseDate</th>
        <th>retailPrice</th>
        <th>image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${matchingProducts}">
        <td>
            <a th:href="@{/products?uuid={productUuid} (productUuid=${product.uuid})}"
            <span th:text="${product.title}"></span>
            </a>
        </td>
        <td th:text="${product.brand}"/>
        <td th:text="${product.category}"/>
        <td th:text="${product.colorway}"/>
        <td th:text="${product.styleId}"/>
        <td th:text="${product.gender}"/>
        <td th:text="${product.releaseDate}"/>
        <td th:text="${product.retailPrice}"/>
        <td>
            <img th:src="${product.imageUrl}" alt="${product.title}" width="25%" height="25%"/>
        </td>
    </tr>
    </tbody>
</table>
<small><a th:href="@{/}">Go to searcher</a></small>
</body>
</html>
