<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product market</title>
    <style>
        .table1  {
            border: 1px solid black;
            border-spacing: 0;
        }
        .table1 th {
            border: 1px solid black;
        }
        .table1 td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<header th:parentProduct="${productDetails}">
    <h2 th:text="${productDetails.title}"></h2>
</header>
<table class="table1">
    <thead>
    <tr>
        <th></th>
        <th>
            <a th:href="@{/products(uuid=${productDetails.uuid})}">shoe size US</a>
        </th>
        <th>
            <a th:href="@{/products(uuid=${productDetails.uuid},sortBy='lowestAsk')}" th:text="'lowestAsk ' + ${currencyCode}">lowestAsk</a>
        </th>
        <th>
            <a th:href="@{/products(uuid=${productDetails.uuid},sortBy='askToBeFirst')}" th:text="'askToBeFirst ' + ${currencyCode}">askToBeFirst</a>
        </th>
        <th>
            <a th:href="@{/products(uuid=${productDetails.uuid},sortBy='totalPayout')}" th:text="'totalPayout ' + ${currencyCode}">totalPayout</a>
        </th>
        <th>
            <a th:href="@{/products(uuid=${productDetails.uuid},sortBy='totalPayoutPln')}">total payout PLN</a>
        </th>
        <th>
            <a th:href="@{/products(uuid=${productDetails.uuid},sortBy='numberOfAsks')}">number of asks</a>
        </th>
        <th>
            <a th:href="@{/products(uuid=${productDetails.uuid},sortBy='highestBid')}" th:text="'highestBid ' + ${currencyCode}">highestBid</a>
        </th>
        <th>
            <a th:href="@{/products(uuid=${productDetails.uuid},sortBy='numberOfBids')}">number of bids</a>
        </th>
        <th>
            <a th:href="@{/products(uuid=${productDetails.uuid},sortBy='deadstockSold')}">deadstock sold</a>
        </th>
        <th>
            <a th:href="@{/products(uuid=${productDetails.uuid},sortBy='salesLast72Hours')}">sales last 72h</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${sortedShoeVariants}">
        <td>
            <!--<form th:action="@{/user/products/add?parentProductUuid={parentProductUuid}&shoeVariantUuid={shoeVariantUuid} (parentProductUuid=${productDetails.title} shoeVariantUuid=${product.uuid})}" method="post">-->
        <form th:action="@{/user/products/add}" method="post">
            <input type="hidden" name="parentProductUuid" th:value="${productDetails.uuid}" />
            <input type="hidden" name="shoeVariantUuid" th:value="${product.uuid}" />
            <button th:if="${isUserLogged}" type="submit">add</button>
        </form>
        </td>
        <td th:text="${product.size}"/>
        <td th:text="${product.lowestAsk}"/>
        <td th:text="${product.askToBeFirst}"/>
        <td th:text="${product.totalPayout}"/>
        <td th:text="${product.totalPayoutPln}"/>
        <td th:text="${product.numberOfAsks}"/>
        <td th:text="${product.highestBid}"/>
        <td th:text="${product.numberOfBids}"/>
        <td th:text="${product.deadstockSold}"/>
        <td th:text="${product.salesLast72Hours}"/>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td th:text="${productDetails.numberOfAsks}"/>
        <td></td>
        <td th:text="${productDetails.numberOfBids}"/>
        <td th:text="${productDetails.deadstockSold}"/>
        <td></td>
    </tr>
    </tbody>
</table>
<small><a th:href="@{/}">Go to homepage</a></small>
</body>
</html>