<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search product</title>
</head>
    <body>
        <p>
            <form action="/search" method="get">
            Keyword: <input type="text" name="key"><br/>
            <button type="submit">Search</button>
            </form>
        </p>
       <!-- <form th:action="@{/oauth2/authorization/google}" method="get">
            <input type="submit" value="Log in" />
        </form>-->
        <p th:text="${'hello ' + userName}"></p>
        <form th:action="@{/oauth2/authorization/google}" method="get">
            <button th:if="${!isUserLogged}" type="submit">Log in</button>
        </form>
        <a th:if="${isUserLogged}"></a>
        <!--<form th:action="@{https://accounts.google.com/logout}" method="get">-->
        <form th:action="@{/logout}" method="get">
            <button th:if="${isUserLogged}" type="submit">Log out</button>
        </form>
    </body>
</html>