<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search product</title>
</head>
    <body>
        <p>
            <form action="/search" method="get">
            Keyword: <input type="text" name="key"><br/>
            <button type="submit">Search</button>
            </form>
        </p>
        <p th:text="${'hello ' + userName}"></p>
        <form th:action="@{/oauth2/authorization/google}" method="get">
            <button th:if="${!isUserLogged}" type="submit">Log in</button>
        </form>
        <!--<a th:if="${isUserLogged}"></a>-->
        <div style="display:flex;">
            <form th:action="@{/logout}" method="get">
                <button th:if="${isUserLogged}" type="submit">Log out</button>
            </form>
            <form th:action="@{/userproducts}" method="get">
                <button th:if="${isUserLogged}" type="submit">Show my products</button>
            </form>
        </div>
    </body>
</html>