<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product market</title>
    <style>
        .table1  {
            border: 1px solid black;
            border-spacing: 0;
        }
        .table1 th {
            border: 1px solid black;
        }
        .table1 td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<header>
    <h2>My products</h2>
</header>
<table class="table1">
    <thead>
    <tr>
        <th>
            <a>number</a>
        </th>
        <th></th>
        <th>
            <a th:href="@{/user/products(sortBy='title')}">title</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='styleId')}">styleId</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='shoeSize')}">shoe size US</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='releaseDate')}">releaseDate</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='retailPrice')}" th:text="'retailPrice ' + ${currencyCode}">retailPrice</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='lowestAsk')}" th:text="'lowestAsk ' + ${currencyCode}">lowestAsk</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='askToBeFirst')}" th:text="'askToBeFirst ' + ${currencyCode}">askToBeFirst</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='totalPayout')}" th:text="'totalPayout ' + ${currencyCode}">totalPayout</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='totalPayoutPln')}">total payout PLN</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='numberOfAsks')}">number of asks</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='highestBid')}" th:text="'highestBid ' + ${currencyCode}">highestBid</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='numberOfBids')}">number of bids</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='deadstockSold')}">deadstock sold</a>
        </th>
        <th>
            <a th:href="@{/user/products(sortBy='salesLast72Hours')}">sales last 72h</a>
        </th>
        <th>image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product, rowNumber : ${userProducts}">
        <td th:text="${rowNumber.count}"/>
        <td>
            <!--<form th:action="@{/user/products/delete?userProductId={userProductId} (userProductId=${product.userProductId})}" method="post">
                <button type="submit">delete</button>-->
            <form th:action="@{/user/products/delete}" method="post">
                <input type="hidden" name="userProductId" th:value="${product.userProductId}" />
                <button type="submit">delete</button>
            </form>
        </td>
        <td>
            <a th:href="@{/products?uuid={productUuid} (productUuid=${product.parentUuid})}"
            <span th:text="${product.title}"></span>
            </a>
        </td>
        <td th:text="${product.styleId}"/>
        <td th:text="${product.shoeSize}"/>
        <td th:text="${product.releaseDate}"/>
        <td th:text="${product.retailPrice}"/>
        <td th:text="${product.lowestAsk}"/>
        <td th:text="${product.askToBeFirst}"/>
        <td th:text="${product.totalPayout}"/>
        <td th:text="${product.totalPayoutPln}"/>
        <td th:text="${product.numberOfAsks}"/>
        <td th:text="${product.highestBid}"/>
        <td th:text="${product.numberOfBids}"/>
        <td th:text="${product.deadstockSold}"/>
        <td th:text="${product.salesLast72Hours}"/>
        <td>
            <img th:src="${product.imageUrl}" alt="${product.title}" width="10%" height="10%"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td th:text="${aggregation.retailPrice}"></td>
        <td th:text="${aggregation.lowestAsk}"></td>
        <td></td>
        <td th:text="${aggregation.totalPayout}"></td>
        <td th:text="${aggregation.totalPayoutPln}"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<small><a th:href="@{/}">Go to homepage</a></small>
</body>
</html>
